.App {
  text-align: center;
}

.home {
  padding: 100px;
}

.home h2 {
  padding: 20px;
  color: rgb(4, 40, 139);
}

.form-div {
  max-width: 650px;
  min-width: 226px;
  margin: 0 auto;
  padding-left: 50px;
}